.login-header{
    .container{
        padding-top:20px;
        width:1220px;
        height:100px;
        margin: 0 auto;
        .login-logo{
            width:200px;
            float:left;
        }
    }
}