<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/shopcart.min.css">
   
</head>
<body>
    <div id="shopcart">
        <div class="shophead">
            <img src="./img/logo.png" alt="">
            <div class="headright">
                <ul>
                    <li>1 我的购物车</li>
                    <li>2 确认订单信息</li>
                    <li>3 成功提交订单</li>
                </ul>
            </div>
        </div>

        <div class="cartbox">
                <h3 class="m-mycart">
                        全部商品 <span class="shopping_amount">0</span>
                        <span id="cuxiaoAD" class="tip" style="display: none;">
                        <img class="alertt" src="">
                        <span id="yp_ad_text_170727" data-cno="170727" data-parentid="cuxiaoAD" data-type="1" class="msg"></span>
                        </span>
                </h3>
                <div class="m-cartbox">
                    <div class="head">
                        <div class="col col1">
                            <input type="checkbox" name="" class="u-chk qx" id="">
                            <label class="lab">全选</label>
                        </div>
                        <div class="col col2">商品信息</div>
                        <div class="col col3">单价</div>
                        <div class="col col4">数量</div>
                        <div class="col col5">金额</div>
                        <div class="col col6">操作</div>
                    </div>
                    <div class="m-cart">
                        <div class="goods">
                                <ul class="m-goods">
                                   
                            </ul>
                        </div>
                    </div>

                    <div class="totalbox">
                            <div id="point"></div>
                            <div class="m-total f-cb" id="totalbar" style="position: relative; width: 990px;">
                            <div class="ttbar">
                            <div class="lt">
                            <input type="checkbox" class="u-chk qx" name="selectAll" checked="" style="outline:none;" >
                            <label class="lab">全选</label>
                            <b class="opt">
                            <img class="cart_icon5 ico_cart" src="" >
                            <span>
                            <a href="javascript:void(0)" >
                            删除选中商品
                            </a>
                            </span>
                            </b>
                            <b class="opt">已选商品 <em class="num chooseGoodsNum">0</em> 件 </b>
                            </div>
                            <div class="rt">
                            <p class="cart-money allgoods fl">
                            <span>商品金额总计</span><br>
                            <span class="itm" id="goodsRealMoney">0.00</span>
                            </p>
                            <p class="cart-money fl cart-coupon">
                            <span>优惠金额</span><br>
                            <span><em class="num" id="couponsBackCashAmount">0.00</em></span>
                            </p>
                            <p class="cart-money allmoney fl" style="border-right: 0px;">
                            <span>订单金额(不含运费)</span><br>
                            <span class="itm"><em class="num" id="sumRealMoney">0.00</em></span>
                            </p>
                            <a href="javascript:void(0);" class="gobuy" >去结算</a>
                            </div>
                            </div>
                            </div>
                            </div>
                </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="./js/shopcart.min.js"></script>

</html>