<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- inject:css -->
		<!-- endinject -->
		<link rel="stylesheet" href="./css/iconfont.css">
	</head>
	<body>
		<!-- inject:js -->
        <!-- endinject -->
		<header class="header">
			<div class="head">
				<img src="img/1.jpg" alt="">
			</div>
			
		</header>
		<div class="right">123</div>
		<div class="box">
			<div class="container">
				<span class="s1">你好! 欢迎来到音平商城!</span>
				<a class="a1" href="">登录</a>
				<a class="a1" href="">注册</a>
				<div class="conright">
						<h3>					
								<a class="a2" href="">
										<i class="iconfont icon-wode"></i>
										我的音平
										<i class="iconfont icon-jiantouarrow483"></i>
								</a>
								<a class="a2" href="">
										<i class="iconfont icon-gouwucheman"></i>
										我的购物车
										
								</a>
								<a class="a2" href="">
										<i class="iconfont icon-aixin"></i>
										企业采购
										
								</a>
								<a class="a2" href="">
										<i style="color:#ff6600" class="iconfont icon-kefu"></i>
										客服服务
										<i class="iconfont icon-jiantouarrow483"></i>
								</a>
						</h3>
				</div>
				
			</div>
		</div>
		<div class="bg-fff">
		  <div class="head2">
				<div class="logo">
						<img src="https://img.ingping.com/images/logo.png" alt="">
				</div>
				<div class="logo-ad">
					  <img src="https://img.ingping.com/images/ad_images/201802/201802261012260469549.gif" alt="">
				</div>

		  </div>	
			
			
		</div>
	</body>
</html>
