<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- inject:css -->
		<!-- endinject -->
		
	</head>
	<body>
		
		<!-- inject:js -->
        <!-- endinject -->
		<header class="header">
			<div class="head">
				<img src="img/1.jpg" alt="">
			</div>
			
		</header>
		<div class="right">123</div>
		<div class="box">
			<div class="container">
				<span class="s1">你好! 欢迎来到音平商城!</span>
				<a class="a1" href="">登录</a>
				<a class="a1" href="">注册</a>
				<div class="conright">
					<dd class>
							<h3>					
									<a class="a2" href="">
											<i class="iconfont icon-wode"></i>
											我的音平
											<i class="iconfont icon-jiantouarrow483"></i>
									   </a>
							</h3>
							<ul>
								<li><a>我的订单</a></li>
								<li><a>我的收藏</a></li>
								<li><a>我要评价</a></li>
								<li><a>我的优惠券</a></li>
							</ul>			   
					</dd>
					<dd class>
						<h3>
								<a class="a2" href="">
										<i class="iconfont icon-gouwucheman"></i>
										我的购物车
										
								</a>
						</h3>
					</dd>	
					<dd class>
						<h3>
								<a class="a2" href="">
										<i class="iconfont icon-aixin"></i>
										企业采购
										
								</a>
						</h3>
					</dd>			
					<dd class>
						<h3>
                           	
								<a class="a2" href="">
										<i style="color:#ff6600" class="iconfont icon-kefu"></i>
										客服服务
										<i class="iconfont icon-jiantouarrow483"></i>
								</a>
						</h3>
					</dd>		
						
				</div>
				
			</div>
		</div>
		<div class="bg-fff">
		  <div class="head2">
				<div class="logo">
						<img src="https://img.ingping.com/images/logo.png" alt="">
				</div>
				<div class="logo-ad">
					  <img src="https://img.ingping.com/images/ad_images/201802/201802261012260469549.gif" alt="">
				</div>
				<div class="ng-seach">
					<form action="">
						<div class="seach-box">
								<input class="txt" type="text">
								
						</div>
						<input class="btn" type="button" value="搜索">
						<div class="hotkeywords">
							<a href="">专业录音</a>
							<a href="">K歌声卡</a>
							<a href="">吉他</a>
							<a href="">电容麦</a>
							<a href="">录音声卡</a>
							<a href="">MIDI键盘</a>
							<a href="">福克斯特声卡</a>
						</div>
					</form>
				</div>
                <div class="index-active">
					<div class="Img">
							<img src="https://static.ingping.com/yp/images/mb-1.0.0.jpg" alt="">
					</div>
					
					<img src="https://static.ingping.com/yp/images/head_dot_a-1.0.1.jpg" alt="">
				</div>
		  </div>				
			
		</div>
		<div class="content">
			<div class="first">
				<div class="all-hook">
					<h2><a href="">全部商品分类</a></h2></h2>
					<ul>
						<li>
							<div class="tx">
								<a href="">声卡</a>
								<a href="">调音台</a>
								<a href="">控制器</a>
							</div>
							<dl>
								<dd>
									<a href="">k歌声卡</a>
									<a href="">专业声卡</a>
									<a href="">调音台</a>
								</dd>
							</dl>
						</li>
						<li>
									<div class="tx">
											<a href="">声卡</a>
											<a href="">调音台</a>
											<a href="">控制器</a>
										</div>
									<dl>
										<dd>
											<a href="">k歌声卡</a>
											<a href="">专业声卡</a>
											<a href="">调音台</a>
										</dd>
									</dl>
						</li>
						<li>
									<div class="tx">
											<a href="">声卡</a>
											<a href="">调音台</a>
											<a href="">控制器</a>
										</div>
									<dl>
										<dd>
											<a href="">k歌声卡</a>
											<a href="">专业声卡</a>
											<a href="">调音台</a>
										</dd>
								   </dl>
						</li>
						<li>
									<div class="tx">
											<a href="">声卡</a>
											<a href="">调音台</a>
											<a href="">控制器</a>
										</div>
									<dl>
										<dd>
											<a href="">k歌声卡</a>
											<a href="">专业声卡</a>
											<a href="">调音台</a>
										</dd>
									</dl>
						</li>
						<li>
									<div class="tx">
											<a href="">声卡</a>
											<a href="">调音台</a>
											<a href="">控制器</a>
										</div>
									<dl>
										<dd>
											<a href="">k歌声卡</a>
											<a href="">专业声卡</a>
											<a href="">调音台</a>
										</dd>
									</dl>
						</li>
						<li>
									<div class="tx">
											<a href="">声卡</a>
											<a href="">调音台</a>
											<a href="">控制器</a>
										</div>
									<dl>
										<dd>
											<a href="">k歌声卡</a>
											<a href="">专业声卡</a>
											<a href="">调音台</a>
										</dd>
									</dl>
						</li>
						<li>
									<div class="tx">
											<a href="">声卡</a>
											<a href="">调音台</a>
											<a href="">控制器</a>
										</div>
									<dl>
										<dd>
											<a href="">k歌声卡</a>
											<a href="">专业声卡</a>
											<a href="">调音台</a>
										</dd>
									</dl>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav-index">
				<div class="nav-fix">
					<ul>
						<li><a href="">网站首页</a></li>
						<li><a href="">套装方案</a></li>
						<li><a href="">活动专区</a></li>
						<li><a href="">品牌专区</a></li>
						<li><a href="">音平咨询</a></li>
						<li><a href="">音平乐享</a></li>
						<li><a href="">音师傅</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</body>
</html>

